{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
    {% load bulma_filters %}
    <div class="columns is-centered">
        <form class="box column is-half" method="post">
            <h3 class="title">Log in form</h3>
            {% csrf_token %}
            {% form_bulma %}
            <div class="field">
                <div class="control">
                    {% button_bulma name='login' %}
                </div>
            </div>
            <div class="block has-text-centered">
                <h6 class="subtitle is-6">{% translate 'Forgotten your password?' %} <a href={% url 'password_reset' %}> {% translate 'Reset it' %}</a></h6>
            </div>
        </form>
    </div>
{% endblock %}