{% extends 'base.html' %}
{% block content %}
    {% include 'block_messages.html' %}
    {% load bulma_filters %}
    <div class="columns is-centered">
        <div class="card column is-half">
            <header class="card-header">
                <h3 class="card-header-title is-size-2 has-text-grey-light">User update</h3>
                <a class="delete" href="{% url 'user_detail' user.id %}"></a>
            </header>
            <div class="card-content">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% form_bulma %}
                    {% button_bulma name='update' %}
                    <p>Django do not store your password. So you can only <a href="{% url 'password_reset' %}">reset</a> it.</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}