{% extends 'base.html' %}
{% load static %}
{% load bulma_filters %}
{% block content %}
    <div class="columns is-centered">
        <div class="card column is-half">
            <card-header close-url="{% url 'index' %}"
                         title="User detail">
            </card-header>
            <div class="card-content" id="vue-user">
                <div class="content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <figure class="image" style="width: 128px">
                                {% if dj_user.avatar %}
                                    <img id="imgPrev" src="{{ dj_user.avatar.url }}" alt="Loaded image"/>
                                {% else %}
                                    <img id="imgPrev" src="https://via.placeholder.com/150?text=Set+avatar"
                                         alt="Loaded image"/>
                                {% endif %}
                            </figure>
                            <follow-button target_user_id="{{ dj_user.id }}"
                                           followers_count="{{ dj_user.followers.count }}"
                                           :is_followed="{{ dj_user|is_followed:user }}"
                            >
                            </follow-button>

                        </div>
                        <div class="column">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>First name</th>
                                    <td>{{ dj_user.first_name }}</td>
                                </tr>
                                <tr>
                                    <th>Last name</th>
                                    <td>{{ dj_user.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ dj_user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Bio</th>
                                    <td>{{ dj_user.bio }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                    {% if user == dj_user %}
            <div class="box">
                <div class="columns">
                        <div class="column is-one-fifth">
                            <a class="button is-success" href="{% url 'user_update' %}">Edit profile</a>
                        </div>
                </div>
            </div>
                <div class="box">
                    <div class="columns">
                        <div class="column is-half">
                            <p id="vue-count2"></p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Followers</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for folower in dj_user.followers.all %}
                                    <td>{{ folower.follower_user.get_full_name }}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="column is-half">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Following</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for folowed_user in dj_user.following.all %}
                                    <td>{{ folowed_user.following_user.get_full_name }}</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="box">
                <div class="block has-text-centered">
                    <h4 class="title is-4">Posts:</h4>
                </div>
                {% for post in dj_user.post_set.all %}
                    <div class="box">
                        {% include 'gramm_app/post_content.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}