{% extends 'base.html' %}
{% load static %}
{% load bulma_filters %}
{% block content %}
    <div class="columns is-centered">
        <div class="card column is-half">
            <header class="card-header">
                <h3 class="card-header-title is-size-2 has-text-grey-light">User detail</h3>
                <a class="button" href="{% url 'index' %}"><i class="fas fa-times"></i></a>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <figure class="image" style="width: 128px">
                                {% if dj_user.avatar %}
                                    <img id="imgPrev" src="{{ dj_user.avatar.url }}" alt="Loaded image"/>
                                {% else %}
                                    <img id="imgPrev" src="{% static 'avatar_placeholder.png' %}" alt="Loaded image"/>
                                {% endif %}
                            </figure>
                        </div>
                        <div class="column">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>First name</th>
                                    <td>{{ dj_user.first_name }}</td>
                                </tr>
                                <tr>
                                    <th>Last name</th>
                                    <td>{{ dj_user.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ dj_user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Bio</th>
                                    <td>{{ dj_user.bio }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <a class="button is-success" href="{% url 'user_update' %}">Edit profile</a>
                    </div>
                    <div class="column is-one-fifth">
                        <a class="button is-primary is-light"
                           href="{% url 'following' dj_user.id %}">Follow {{ dj_user.followers.count }}</a>
                    </div>
                    {% include 'block_messages.html' %}
                </div>
            </div>

            <div class="box">
                <div class="block has-text-centered">
                    <h4 class="title is-4">Following:</h4>
                </div>
                <div class="columns">

                    <div class="column is-half">

                        <h6 class="title is-6 has-text-centered">Followers:</h6>
                        <ul>
                            {% for folower in  dj_user.followers.all %}
                                {{ folower.following }}
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="column">
                        <h6 class="title is-6 has-text-centered">Following:</h6>
                        <ul>
                            {% for folowed in  dj_user.following.all %}
                                {{ folowed.follower }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="block has-text-centered">
                    <h4 class="title is-4">Posts:</h4>
                </div>
                {% for post in dj_user.post_set.all %}
                    <div class="box">
                        <div class="columns">
                            <div class="column is-three-fifths">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ post.title }}</td>
                                    </tr>
                                    <tr>
                                        <th>File</th>
                                        <td>{{ post.image|get_file_name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <figure class="image has-text-centered" style="width: 96px">
                                    {% if post.image %}
                                        <img id="imgPrev" src="{{ post.image.url }}" alt="Loaded image"/>
                                    {% else %}
                                        <img id="imgPrev" src="https://via.placeholder.com/150" alt="Loaded image"/>
                                    {% endif %}
                                </figure>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}