.has-icons-left {
    transition: color 400ms ease-in-out;
}

.has-icons-left:hover .is-left {
    color: #48c78e;
}

.has-icons-right {
    transition: color 400ms ease-in-out;
}

.has-icons-right:hover .is-right {
    color: #B70721FF;
}
