{% extends 'base.html' %}
{% load static %}
{% block content %}
     <div class="columns is-centered">
        <div class="card column is-half">
            <header class="card-header">
                <h3 class="card-header-title is-size-2 has-text-grey-light">Post detail</h3>
                <a class="button" href="{% url 'index' %}"><i class="fas fa-times"></i></a>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <figure class="image" style="width: 128px">
                                    <img id="imgPrev" src="{{ post.image.url }}" alt="Loaded image"/>
                            </figure>
                        </div>
                        <div class="column">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Title</th>
                                    <td>{{ post.title }}</td>
                                </tr>
                                <tr>
                                    <th>Author</th>
                                    <td>{{ post.author.first_name }} {{ post.author.last_name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <footer class="card-footer">
            <div class="buttons is-grouped">
                <a class="button is-success" href="{% url 'post-update' pk=post.id %}">Edit post</a>
                <a class="button is-danger" href="{% url 'post-delete' pk=post.id %}">Delete post</a>
            </div>
        </footer>
        </div>
    </div>
{% endblock %}