{% extends 'base.html' %}
{% load static %}
{% load bulma_filters %}
{% block content %}
<h4 class="title">Posts:</h4>
    <div class="box">
{% for post in object_list %}
                    <div class="columns">
                        <div class="column is-three-quarters">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Title</th>
                                    <td>{{ post.title }}</td>
                                </tr>
                                <tr>
                                    <th>File</th>
                                    <td>{{ post.image|get_file_name }}</td>
                                </tr>
                                <tr>
                                    <th>Author</th>
                                    <td>{{ post.author.get_full_name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column">
                            <div class="box" style="padding: 0.5rem">
                                <figure class="image" style="width: 96px">
                                    {% if post.image %}
                                        <img id="imgPrev" src="{{ post.image.url }}" alt="Loaded image"/>
                                    {% else %}
                                        <img id="imgPrev" src="https://via.placeholder.com/150" alt="Loaded image"/>
                                    {% endif %}
                                </figure>
                            </div>
                        </div>
                    </div>


{% empty %}
    <li>No posts yet.</li>
{% endfor %}
</div>

{% endblock %}