<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/svgs/brands/instagram.svg>
    <title>{% block title %}DjangoGramm{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'background.css' %}">
{#        {% if env_name == 'production' %}#}
{#            <script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
{#        {% else %}#}
{#            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
{#        {% endif %}#}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <section class="section">
        <div class="container">
             {% block content %}{% endblock %}
        </div>
    </section>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</body>
</html>