{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li style="list-style: none;">
                {% if message.tags %}
                    <div class="notification is-{{ message.tags }} is-light">
                {% else %}
                    <div class="notification is-info">
                {% endif %}
                <button class="delete"></button>
                {{ message }}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endif %}