{% extends '../base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forms/../../static_dev/forms/live_icons.css' %}">
    {% load bulma_filters %}
    <div class="columns is-centered">
        <div class="card column is-half">
            <header class="card-header">
               <h3 class="card-header-title is-size-3 has-text-grey-light">Create post</h3>
                <a class="delete" href="{% url 'index' %}"></a>
            </header>
            <div class="card-content">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% form_bulma %}
                    <div class="field">
                        <p class="control">
                            {% button_bulma name='create' %}
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}