{% extends '../base.html' %}
{% load i18n static %}
{% block content %}
    {% load bulma_filters %}
    <div class="columns is-centered">
    <form class="box column is-half" method="post">
        <h3 class="title">{% translate 'Password reset' %}</h3>
        <div class="block">
            {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
        </div>
        {% csrf_token %}
        {% form_bulma %}
        {% button_bulma name='reset my password' %}
    </form>
    </div>
{% endblock %}

