{% extends 'base.html' %}
{% block content %}
    {% load bulma_filters %}
    <div class="columns is-centered">
        <div class="card column is-half">
            <header class="card-header">
                <h3 class="card-header-title is-size-3 has-text-grey-light">Signup form</h3>
                <a class="delete" href="{% url 'index' %}"></a>
            </header>
            <form method="post">
                {% csrf_token %}
                {% form_bulma %}
                {% if not_unique %}
                    <a class="button" href="{% url 'password_reset' %}">Resend email</a>
                    <a class="button" href="{% url 'login' %}">Login</a>
                {% else %}
                {% button_bulma name='signup' %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}